:root {
    --width_sidebar: 300px;
    --width_sidebar_translate: calc(var(--width_sidebar) - 5px);

    --color_list_country: #f7f4f4;
    --color_list_country_hover: #f7f2f2; 
    --color_list_region: #f7f4f4;
    --color_list_region_hover: #f7f2f2; 
    --color_list_subregion: #f8f5f5;
    --color_list_subregion_hover: #B94560;
    --color_list_country_prefix: #B94560;

    --color_region_fill: #BDADE2;


}

.mapboxgl-ctrl-bottom-left .mapboxgl-ctrl {
    margin: 0 0 5px 10px;
    border-radius: 5px;
}

.mapboxgl-ctrl-logo {
    display: none !important;
}


#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

body { margin: 0; padding: 0; }
/* #map { position: absolute; top: 0; bottom: 0; width: 100%; } */

@font-face {
    font-family: 'GothamPro';
    src: url("./fonts/Gotham Pro/gothampro.ttf");
}

.rounded-rect {
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 50px -25px black;
}

.flex-center {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center.left {
    left: 0px;
}

.flex-center.right {
    right: 0px;
}

.sidebar-content {
    position: absolute;
    width: 95%;
    height: 95%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    color: gray;
}

.sidebar-toggle {
    position: absolute;
    width: 1.3em;
    height: 1.3em;
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-toggle.left {
    right: -1.5em;
}

.sidebar-toggle.right {
    left: -1.5em;
}

.sidebar-toggle:hover {
    color: #0aa1cf;
    cursor: pointer;
}

.sidebar {
    transition: transform 1s;
    z-index: 1;
    width: var(--width_sidebar);
    height: 95%;
    
    /* font-family: 'GothamPro', "Helvetica Neue", Helvetica, Arial, sans-serif !important; */
}

.sidebar.left {
    /* margin-top: 20px; */
}

/*
The sidebar styling has them "expanded" by default, we use CSS transforms to push them offscreen
The toggleSidebar() function removes this class from the element in order to expand it.
*/
.left.collapsed {
    transform: translateX(calc(var(--width_sidebar_translate) * (-1)));
}

.right.collapsed {
    transform: translateX(var(--width_sidebar_translate));
}

.sidebar-content-list {
    height: 100%;
    width: 100%;
    /* padding-bottom: 45px; */
    box-sizing: content-box;
}

#sidebar-content-list:first-child {
    /* padding-left: 15px; */
}

ul {
    height: 100%;
    font-size: 10px;
    text-transform: uppercase;
    overflow: auto;
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: 'GothamPro', 'Georgia', "Helvetica Neue", Helvetica, sans-serif;
}

ul.countries {
    /* padding-top: 5px; */
    background-color: var(--color_list_country); 
    /* padding-bottom: 45px; */
    /* margin-bottom: 50px; */
}

ul ul {
    padding: 0px;
}

li {
    cursor: pointer;
}

ul.countries {
    /* padding-top: 20px; */
}

ul.countries  li {
    /* border: 1px solid black; */
    letter-spacing: 1px;
    text-align: left;
    padding-left: 10px;
    background-color: var(--color_list_country);
}

li.country {
    /* list-style: none; */
    text-transform: capitalize;
    line-height: 22px;
    font-size: 14px;
}

li.country.non-active > ul.regions {
    display: none;
    /* color: yellow; */
} 


ul.regions  {
    /* font-size: 12px !important; */
    margin: 10px 0;
    margin-right: 10px;
    border: 1px solid ;
    text-align: center;
    text-transform: lowercase;
    background-color: var(--color_list_region);
    box-shadow: 0 0 10px -5px black;
    border-radius: 5px;
}

li.region {
    font-size: 12px;
    line-height: 20px;
    text-transform: capitalize;
}

li.region:first-child {
    padding-top: 4px;
}

li.region:last-child {
    padding-bottom: 4px;
}

li.region.active::before {
    content: "» ";
    color: blueviolet;

}


ul.subregions {
    margin-left: -12.5px;
    font-size: 10px;
    text-align: left;
    /* text-transform: capitalize; */
    /* line-height: 18px; */
}

li.subregion {
    line-height: 18px;
}

li.subregion:first-child {
    padding-top: 4px;
    border-top: 1px solid #B94560;

}

li.subregion:last-child {
    border-bottom: 1px solid #B94560;

}






ul.countries  li.country.non-active:hover {
    background-color: var(--color_list_country_hover);
    /* background-color: green; */
    /* background: var(--color_list_country_hover) */
    
}

ul.countries li.country.non-active.full::before {
    /* background-color: linear-gradient(to right, var(--color_list_subregion_hover) 10%, 50%, transparent 130%); */
    /* width: 5px; */
    /* height: 100%; */
    display: inline-block;
    width: 10px;
    height: 10px;
    content: " ";
    background: url("./images/pattern.png");
    background-size: cover;
    margin-right: 4px;
    
}


ul.regions > li.active {
    /* border-bottom:  1px solid #B94560; */
    margin-bottom: 4px;
}

ul .regions > li:hover {
    background-color: var(--color_list_region_hover);
}

ul.subregions > li {
    background-color: var(--color_list_subregion)
    /* background: linear-gradient(to bottom, rgb(54, 246, 246) 10%, 100%, transparent 50%); */
}

ul .subregions > li:hover {
    /* background-color: var(--color_list_subregion_hover); */
    color: white;
    background: linear-gradient(to right, var(--color_list_subregion_hover) 10%, 50%, transparent 130%);

}

