.sidebar-content-list.right {
    overflow: auto;
    max-height: 100%;
    font:
        12px/20px 'Helvetica Neue',
        Arial,
        Helvetica,
        sans-serif;
    /* font-size: 12px; */
}

a.producer-link {
    display: block;
    padding: 5px 10px;
    margin: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: #404;
    text-decoration: none;
}

.mapboxgl-popup {
    
}

/* .sidebar-content-list.rigth a {} */